@import "tailwindcss";

/* define your brand blue properly */
@theme {
  --color-brand-50: oklch(0.97 0.02 250);
  --color-brand-100: oklch(0.93 0.03 250);
  --color-brand-200: oklch(0.87 0.05 250);
  --color-brand-300: oklch(0.78 0.08 250);
  --color-brand-400: oklch(0.70 0.10 250);
  --color-brand-500: #1D5DEC; /* Azul */
  --color-brand-600: oklch(0.53 0.12 250);
  --color-brand-700: oklch(0.45 0.12 250);
  --color-brand-800: oklch(0.36 0.11 250);
  --color-brand-900: oklch(0.27 0.10 250);
}
